{% extends 'index.html'%}
{% block content %}

<div class = "jumbotron text-center">
	<h2>About Me Page</h2>
</div>

<div>
	<section>
		<article>
			<p>
				<h3>
					<i> <b>"Oh! Krishna, the Mind is restless" </b></i>
				</h3>
				
			</p>
			<fieldset>
				<legend>
					My Info
				</legend>
				<ul>
					<li>
						<p>
							<span>
								UmaMaheshwaraRao S
							</span>
						</p>
					</li>
				</ul>
			</fieldset>
		</article>
	</section>
	
</div>
{% endblock %}