{% extends 'index.html'%}
	{% block content %}
	<div>
		<h1>App</h1>		
	</div>

	<div class="container">
		<form action= "{{url_for('blog_success')}}" method = "POST">
			<label for = 'head'>Title</label> 
			<input type="text" id = 'head' name="head" placeholder="Blog Title Please">
			<label for = 'author_name'>Author</label> 
			<input type="text" id="author_name" name="author_name" placeholder="Author Name ">
			<label for = 'blog_name'>Article</label> 
			<textarea name = 'blog_name' id="blog_name" placeholder="Blog here... " style="height:200px"></textarea> 
			<input type="submit" value="Post" id="buttonholder">		 
		</form>			
	</div>	

	{% endblock %}