{% extends 'index.html'%}
{% block content %}
<div>
	<h3>UmamheshwaraRao S</h3>
	<address>
		<a href="yogeerama@gmail.com">Email</a>
		Phone : <a href="9391167111">!@#$%^</a>
	</address>

</div>
<div class="container">
	<table>

		<thead>
			<fieldset>
				<section>
					<article>
						I seek challenging opportunities where I can fully use my skills for the success of the organization.

						
					</article>
					
					
				</section>
									
			</fieldset>
		</thead>
		<tr>
    <th>Name :</th>
    <td>Mahesh</td>
    <td>Rao</td>
  </tr>
		
	</table>
</div>

{% endblock %}